/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  main{
    display: flex;
  }

  .form-container, .card-container{
    padding: 20px;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    gap: 8px;
    width: 300px;
    min-width: 150px;
    height: 100vh;
    border-right: 1px solid black;
  }

  form > div{
    margin-bottom: 12px;
  }

  form label{
    display: block;
  }

  .radio-selector{
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .radio-selector input, label{
    cursor: pointer;
  }

  .add-book{
    width: 100%;
    cursor: pointer;
  }

  .card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 250px;
    height: auto;
    padding: 20px;
    background-color: red;
    border-radius: 8px;
  }

  .statusContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card p, button{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }

  .card button{
    font-size: 14px;
    border-radius: 6px;
    border: none;
    padding: 4px 12px;
  }

